ion-header {
    ion-toolbar {
        --background: #4162fb;
        color: #fff;
    }
}

.top_head{
    background: #4162fb;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: #fff solid 0.55px;
    width: 100%;
    // height: 30px;
}

.header-md {
    position: static;
}

#top_tab{
    // --background: #4162fb;
    // --background-checked: white;
    --color:white;
    // --color-checked:#4162fb;
    
    --indicator-color:none;
    --indicator-color-checked:none;
    // --border-color: #fff;
    margin: 0 auto;
    width: 90%;
    height: 30px;
}

.top_tab_item{
    min-height: 28px;
}

ion-segment-button{
    border: 0.55px solid #fff;
    min-width: 70px;
    width: 25%;
}

ion-segment-button:first-child{
    border-right: none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

ion-segment-button:last-child{
    border-left: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

ion-header {
    ion-toolbar {
        --background: #4162fb;
        color: #fff;
    }
}

.active{
    background-color: #fff;
    color: #4162fb;
}

.padding{ padding-left: 16px; padding-right: 16px;padding-top: 10px;padding-bottom: 16px;}
.info-color span{color: #777}

img{
    width: 26px;
    height: 26px;
}

ion-item{
    height: 56px;
    line-height: 56px;
}

ion-label{
    height: 56px;
    line-height: 56px;
    margin-left: 6px;
    border-bottom: 0.55px solid rgb(247, 247, 247);
    margin-top: 0px;
    margin-bottom: 0px;
}

ion-label p:first-child{
    margin-top: 12px;
    height: 16px;
    line-height: 16px;
    color: #131313;
    font-size: 13px;
}



ion-label p:last-child{
    height: 16px;
    line-height: 16px;
    color: #767676;
    font-size: 11px;
}
