<!-- <ion-header>
  <ion-toolbar>
    <ion-title>工程师信息</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header mode='ios'>
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
    </ion-buttons>
    <ion-title>工程师信息</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- 详情列表 -->
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">姓名：</ion-col>
      <ion-col class="right-text" size="7">张三</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">身份证号：</ion-col>
      <ion-col class="right-text" size="7">123456789012345678</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">登记证号：</ion-col>
      <ion-col class="right-text" size="7">12345670</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">登记类别：</ion-col>
      <ion-col class="right-text" size="7">一般项目环境影响报告表</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="left-text" size="6">登记有效期起始日期：</ion-col>
      <ion-col class="right-text" size="6">2015-11-25</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="6">登记有效期终止日期：</ion-col>
      <ion-col class="right-text" size="6">2018-10-10</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">职业资格证书号：</ion-col>
      <ion-col class="right-text" size="7">A20151123</ion-col>
    </ion-row>
    <ion-row align-items-center>

      <ion-col class="left-text" size="5">入职日期：</ion-col>
      <ion-col class="right-text" size="7">2015-09-10</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>