
<ion-header mode='ios'>
    <ion-toolbar mode='ios'>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
        </ion-buttons>
        <ion-title>参与项目</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="padding info-color">
        <ion-row>
          <ion-col size="12">
            <span>项目编号：</span>32315135
          </ion-col>
          <ion-col size="12">
            <span>项目名称：</span>东南热电中心华能北京热电三期热电项目
          </ion-col>
          <ion-col size="12">
            <span>评估日期：</span>2019-09-08
          </ion-col>
          <ion-col size="12">
            <span>项目经办人评价：</span>评级客观
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
