<ion-header>
  <ion-toolbar>
    <ion-title>关联项目信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">项目编号：</ion-col>
      <ion-col class="right-text" size="7">GSLZKJ00023</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">项目名称：</ion-col>
      <ion-col class="right-text" size="7">兰州祁连山水泥商砼有限公司厂区扩建项目</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">建设地点：</ion-col>
      <ion-col class="right-text" size="7">兰州祁连山水泥商砼有限公司</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">所属行业：</ion-col>
      <ion-col class="right-text" size="7">水泥制造</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="left-text" size="5">环保投资额（万元）：</ion-col>
      <ion-col class="right-text" size="7">120</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">审批时间：</ion-col>
      <ion-col class="right-text" size="7">2018-11-19</ion-col>
    </ion-row>

  </ion-grid>



</ion-content>