<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    <ion-title>建设项目环评审批基础信息表(2)</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header mode='ios'>
    <ion-toolbar mode='ios'>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
        </ion-buttons>
        <ion-title>建设项目环评审批基础信息表(2)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
