.top_head{
    background: #4162fb;
    // padding-top: 10px;
    // padding-bottom: 10px;
    
    // height: 30px;
}

.no-line{
    margin-top: -1px;
}
.header-md {
    position: static;
}

#top_tab{
    // --background: #4162fb;
    // --background-checked: white;
    --color:white;
    // --color-checked:#4162fb;
    
    --indicator-color:none;
    --indicator-color-checked:none;
    // --border-color: #fff;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    line-height: 50px;
}



ion-segment-button{
    border: 0.55px solid #fff;
}

ion-segment-button:first-child{
    border-right: none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

ion-segment-button:last-child{
    border-left: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.active{
    background-color: #fff;
    color: #4162fb;
}
#search_condition_div{
    background-color: #fff;
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    border-bottom: #ccc solid 0.35px;
}

#search_condition{
    display: flex;
    list-style: none;
    color: #181818;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.selected{
    color: #4162fb;
}

#search_condition li{
    font-size: 14px;
    width: 33%;
    text-align: center
}
ion-item[_ngcontent-c2] {
    height: 50px;
    line-height: 50px;
}
/*tab1中筛选列表/tab2中筛选列表/ tab3中筛选列表 通用样式 start */
ion-grid{
  padding: 0px;  }
.header-md:after {
  background-image: none;
}
.col-shadow{
  text-align: center;
  box-shadow: 0px 1px 6px 2px rgba(171, 171, 171, 0.25);
}
  
  
.text-ellipsis {
    width:60%;
    text-align: right;
    line-height: 28px;
    font-size: 14px;
    display: inline-block;
    color: #0c0c0c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	 
}
  
.domn-arr {
  width: 20px;
  height: 26px;
  display: inline-block;
  font-size: 20px;
  color: #a4a4a4;
}
  
.color-blue {
  color: #5871de;
}
.optionList-div{
    ion-item[_ngcontent-c3],ion-item[_ngcontent-c2]{
      height: 50px;
      line-height: 49px;
      --border-color:#ebebeb; 
     
    }
} 
  
/*tab1中筛选列表/tab2中筛选列表/ tab3中筛选列表 通用样式 end */

.echarts_div{
    width: 100%; 
    height: 320px; 
    margin-top: 0px;
    padding-top: 10px;
}

.echarts_texts{
    width: 100%;
    height: 40px;
}

.echarts_div span:first-child{
    width: 98%;
    color: #181818;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.echarts_div span:last-child{
    color: #181818;
    display: inline-block;
    font-size: 0.7rem;
    margin-left: 10px;
}

.charts {
    margin-top: 0px;
    width: 100%; 
    height: 270px; 
    margin-bottom: 10px
}
.splitArea{
    height:18px;
    background:rgb(239,239,239); 
}
.top_tab_item{
    width: 33.3%;
    min-height: 28px;
    // line-height: 28px;
}

.bottom_table{
    width: 100%;
    padding:0 3%;
    // margin:0 auto;
    border: none;
    // margin-top: 1px;
    tr{
        border-bottom: 0.55px solid #f7f7f7;
    }
    tr:nth-child(1){
        border-top: 0.55px solid #f7f7f7;
    }
}

.table_item_th_left{
   // border: #4162fb solid 0.5px;
    background-color: #f7f7f7;
    text-align: center;
    color: #333;
    height: 40px;
}

.table_item_th_right{
    //border-top: #4162fb solid 0.5px;
    //border-bottom: #4162fb solid 0.5px;
    background-color: #f7f7f7;
    text-align: center;
    color: #333;
    height: 40px;
}

.table_item_text_left{
    width: 50%;
    text-align: center;
    color: #9d9fa7;
    font-size: 16px;
    height: 40px;
}

.table_item_text_right{
    width: 50%;
    text-align: center;
    color: #333;
    /* padding-right: 20px; */
    font-size: 16px;
    height: 40px;
}

.table_item_text_left span{
    margin-left: 10px;
}

.table_item_text_right span{
    margin-right: 10px;
}
ion-list{
    border-top: 1px solid #ddd;
    padding: 0px;
    ion-item{
      font-size: 14px;
    }
  }

.option-div{
    position: absolute;
    width: 100%;
    
    ion-row{
      background: #fff;
    }
    ion-list{
      margin-top:-3px; 
    }
}

.area-new{
    max-height: 298px; 
    overflow-y: auto;
}
.layer{
    height: 100%; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.3); 
    position: fixed;
    z-index: 5;
}

.color-black{
    color: #000;
}

.text-center{
    text-align: center;
}