<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title>建设项目环评审批基础信息表(3)</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header mode='ios'>
    <ion-toolbar mode='ios'>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
        </ion-buttons>
        <ion-title>建设项目环评审批基础信息表(3)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="padding-10">
  <p class="p-title">自然保护区</p>
  <div class="tableBox">
      <table cellspacing="0" cellpadding="0" >
          <tr>
            <th>名称</th>
            <th>级别</th>
            <th>主要保护对象</th>
            <th>工程影响情况</th>
            <th>是否占用</th>
            <th>占用面积（h㎡）</th>
            <th>生态防护措施</th>
          </tr>
          <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td> 
            <td>/</td> 
            <td>/</td> 
            <td>/</td> 
          </tr>
        </table>
  </div>
  <p class="p-title">饮用水水源保护区（地表）</p>
  <div class="tableBox">
      <table cellspacing="0" cellpadding="0" >
          <tr>
            <th>名称</th>
            <th>级别</th>
            <th>工程影响情况</th>
            <th>是否占用</th>
            <th>占用面积（h㎡）</th>
            <th>生态防护措施</th>
          </tr>
          <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td> 
            <td>/</td> 
            <td>/</td>
            <td>/</td>
          </tr>
        </table>
  </div>
  <p class="p-title">饮用水水源保护区（地下）</p>
  <div class="tableBox">
      <table cellspacing="0" cellpadding="0" >
          <tr>
            <th>名称</th>
            <th>级别</th>
            <th>工程影响情况</th>
            <th>是否占用</th>
            <th>占用面积（h㎡）</th>
            <th>生态防护措施</th>
          </tr>
          <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td> 
            <td>/</td>
            <td>/</td> 
          </tr>
        </table>
  </div>
  <p class="p-title">风景名胜区</p>
  <div class="tableBox">
      <table cellspacing="0" cellpadding="0" >
          <tr>
            <th>名称</th>
            <th>级别</th>
            <th>工程影响情况</th>
            <th>是否占用</th>
            <th>占用面积（h㎡）</th>
            <th>生态防护措施</th>
          </tr>
          <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td> 
            <td>/</td>
            <td>/</td> 
          </tr>
        </table>
  </div>
</ion-content>
